.fade-appear {
    opacity: 0;
    z-index: 1;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 2000ms linear;
}
.img-wrapper {
    position: relative;
    overflow: hidden;
}
.img-wrapper > img{
    object-fit: cover;
    object-position: center;

}
.img-wrapper > .project-content{
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background: transparent;
    justify-content: center;
    align-items: center
}

.img-wrapper > img,
.img-wrapper > .project-content{
    transition: 200ms ease-in-out
}
.img-wrapper:hover > img.my-blur{
    filter: blur(3px);
    filter: brightness(0.25);
}
.img-wrapper > .project-content.fade{
    opacity: 0
}
.img-wrapper:hover > .project-content.fade{
    opacity: 1
}
@tailwind base;
@tailwind components;
@tailwind utilities;
